version: "3.8"
services:
  db:
    image: yandex/clickhouse-server:21.6
    restart: always
    environment:
      - CLICKHOUSE_DB=${CLICKHOUSE_DATABASE}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
    volumes:
      - clickhouse-data:/var/lib/clickhouse:cached
    ports:
      - "8123:8123"
      - "9000:9000"
  adapter:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      # Cache refreshing interval (minutes):
      - SCHEDULER_INTERVAL_MINUTES=1
      # Clickhouse:
      - ODD_DATA_SOURCE_NAME=${ODD_DATA_SOURCE_NAME}
      - ODD_DATA_SOURCE=${ODD_DATA_SOURCE}
      - CLICKHOUSE_HOST=${CLICKHOUSE_HOST}
      - CLICKHOUSE_PORT=${CLICKHOUSE_PORT}
      - CLICKHOUSE_DATABASE=${CLICKHOUSE_DATABASE}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      # FLASK:
      - FLASK_ENVIRONMENT=${FLASK_ENVIRONMENT}
      - FLASK_APP=${FLASK_APP}
    depends_on:
      - db
    ports:
      - "127.0.0.1:8080:8080"

volumes:
  clickhouse-data:
