version: "3.8"
services:
  db-clickhouse:
    image: yandex/clickhouse-server:21.6
    container_name: odd-db-clickhouse
    restart: always
    environment:
      - CLICKHOUSE_DB=${CLICKHOUSE_DATABASE}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
    volumes:
      - clickhouse-data:/var/lib/clickhouse:cached
    ports:
      - "8123:8123"
      - "9000:9000"
  odd-clickhouse-adapter:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: odd-clickhouse-adapter
    restart: always
    environment:
      # Cache refreshing interval (minutes):
      - SCHEDULER_INTERVAL_MINUTES=${SCHEDULER_INTERVAL_MINUTES}
      # Clickhouse:
      - CLICKHOUSE_HOST=${CLICKHOUSE_HOST}
      - CLICKHOUSE_PORT=${CLICKHOUSE_PORT}
      - CLICKHOUSE_DATABASE=${CLICKHOUSE_DATABASE}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      # FLASK:
      - FLASK_ENVIRONMENT=${FLASK_ENVIRONMENT}
      - FLASK_APP=${FLASK_APP}
    depends_on:
      - db-clickhouse
    ports:
      - "127.0.0.1:8080:8080"

volumes:
  clickhouse-data:
